:root {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.address {
  font-style: normal;
}
/* ----------------------Header------------------------ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.menu {
  display: flex;
  gap: 50px;
}
.menu-item {
  display: flex;
  align-items: center;
}

/* .menu-item:not(:last-child) {
  margin-right: 50px;
} */

.nav {
  display: flex;
  gap: 93px;
}

.header-contacts {
  display: flex;
  gap: 50px;
}
/* line-height/font-size=line-height */
.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  color: #000;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;

  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.header-contact-number {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;

  color: #757575;
}

.header-contact-number:hover,
.header-contact-number:focus {
  color: #2196f3;
}

.header-contact-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;

  color: #757575;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #2196f3;
}
/* --------------------------/HEADER---------------------- */

/* --------------------------HERO-------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 600px;

  background-color: #2f303a;
}

.hero-title {
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;
}

.hero-button {
  padding: 10px 32px;
  margin-top: 30px;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;

  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 300ms linear;

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #148df0;
}
/* --------------------------/HERO------------------------- */

/* --------------------------ABOUT US---------------------- */
.about {
  display: flex;
  padding-top: 94px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.about-item {
  max-width: 270px;
}
.about-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  color: #212121;
}

.about-text {
  margin-top: 10px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;

  color: #757575;
}
/* -------------------------/ABOUT US---------------------- */

/* ------------------------SERVICES------------------------ */

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
.services-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}
.services-title {
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  color: #212121;
}

/* -----------------------/SERVICES------------------------ */

/* ----------------------- OUR TEAM-------------------------- */

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}

.team-member {
  width: 270px;
}
.team-title {
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  color: #212121;
}

.team-name {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;

  color: #212121;
  background-color: white;
}

.team-position {
  padding-bottom: 30px;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;

  color: #757575;
  background-color: white;
}
/* ------------------------/ OUR TEAM------------------------ */

/* -------------------------FOOTER-------------------------- */
.footer {
  background-color: #2f303a;
}

.footer-section-information {
  padding-top: 60px;
  padding-left: 215px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  color: #fff;
}

.footer-address {
  padding-top: 10px;
  padding-bottom: 60px;
}
.footer-contact-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;

  color: #fff;
}

.footer-link-color {
  color: #ffffff99;
}

/* -------------------------/FOOTER--------------------------- */
